<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.4/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         backupGlobals="false"
         colors="always"
         verbose="true">
  <testsuites>
    <testsuite name="all">
      <directory suffix="Test.php">tests</directory>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist>
      <directory suffix=".php">lib</directory>
      <exclude>
        <directory suffix="Interface.php">lib/</directory>
      </exclude>
    </whitelist>
  </filter>

</phpunit>

